.title {
    font-weight: bold;
    font-family: "Nunito", sans-serif;

    &.one {
        font-size: 2.375rem;
    }

    &.two {
        font-size: 1.375rem;
    }

    &.three {
        font-size: 1rem;
    }

    &.four {
        font-size: 0.75rem;
    }
}

.headline {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.body {
    font-size: 0.75rem;
    font-family: "Nunito", sans-serif;
}