.title1 {
    font-weight: bold;
    font-size: 2.375rem;
    font-family: "Nunito", sans-serif;
}

.title2 {
    font-weight: bold;
    font-size: 1.375rem;
    font-family: "Nunito", sans-serif;
}

.title3 {
    font-weight: bold;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.title4 {
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "Nunito", sans-serif;
}

.headline {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

.body {
    font-size: 0.75rem;
    font-family: "Nunito", sans-serif;
}