.card__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-1);
    height: 5.4375rem;
    padding: 0.8rem; 
    box-sizing: border-box;
    border-radius: 0.25rem;
    border-left: 0.25rem solid;

    &.green {
        border-color: var(--color-secondary);
    }

    &.grey {
        border-color: var(--grey-2);
    }


    .card_title__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        span {
            color: var(--grey-3);
        }
    }

    .card_value__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-end;

        .card__button {
            background-color: var(--grey-2);
            border: none;
            border-radius: 0.125rem;
            width: 3.0625rem;
            height: 1.1875rem;
            font-size: 0.625rem;
            color: var(--grey-4);
            cursor: pointer;
        }
    }
}

@media (max-width:900px) {
    .card__container {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        
        .card_title__container {
            gap: 1rem;
        }

        .card_value__container {
            gap: 1rem;
        }
    }
}